/* 共通 */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
  width: 100%;
  height: 100px;
  background-color: darkgreen;
  padding: 10px 0;
}

.heading {
  text-align: center;
}

.heading > a {
  color: #fff;
}

/* nav */
.nav-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 20px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 10px 0;
}

.nav-list-item {
  color: #fff;
}

.active > a {
  color: #33AA5D;
}

/* main */
main {
  width: 100%;
  background-color: #ecfcdf;
  padding: 10px 40px;
}

.profile-heading {
  text-align: center;
  margin-bottom: 10px;
}

.profile-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-bottom: 20px;
}

.profile-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.profile-image {
  width: 30%;
}

.profile-image > img {
  width: 100%;
}

.profile-text{
  width: 70%;
}

.profile-text dl {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  -moz-column-gap: 10px;
  column-gap: 10px;
  row-gap: 15px;
}

.profile-text dt, .profile-text dd {
  line-height: 14px;
  word-break: break-all;
}

.profile-text dt {
  width: 100px;
  font-weight: bold;
}

.profile-text dd {
  width: calc(100% - (100px + 10px));
  line-height: 1.5em;
}

.profile-text dd li {
  margin-bottom: 15px;
}

.message-text {
  margin-bottom: 10px;
}

.social {
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.social i {
  margin-bottom: 20px;
}

/* footer */
footer {
  width: 100%;
  height: 100px;
  background-color: darkgreen;
  padding: 30px 0;
}

.footer-text {
  color: #fff;
  text-align: center;
}


@media screen and (max-width: 768px) {
  header {
    height: inherit;
  }
  
  .profile-box {
    flex-flow: column;
    row-gap: 10px;
  }

  .profile-image {
    width: 100%;
  }
  
  .profile-text{
    width: 100%;
  }

  footer {
    height: inherit;
  }
  
  .social {
    justify-content: center;
  }
}